{
	"parser": "babel-eslint",
	"plugins": ["prettier", "react"],
	"extends": ["prettier", "plugin:react/recommended"],
	"env": {
		"node": true,
		"es6": true,
		"browser": true
	},
	"rules": {
		"indent": ["error", "tab", { "SwitchCase": 1 }],
		"react/forbid-component-props": ["error", { "forbid": ["style"] }],
		"react/forbid-dom-props": ["error", { "forbid": ["style"] }],
		"react/no-danger": "warn",
		"react/prop-types": "off",
		"react/no-this-in-sfc": "error",
		"react/no-unused-state": "warn",
		"react/react-in-jsx-scope": "error"
	},
	"settings": {
		"react": {
			"version": "^16.8.0"
		}
	}
}
