{
	"parserOptions": {
		"ecmaVersion": 2018
	},
	"plugins": ["prettier"],
	"extends": ["eslint:recommended", "prettier"],
	"env": {
		"node": true,
		"es6": true,
		"mongo": true
	},
	"rules": {
		"indent": ["error", "tab", { "SwitchCase": 1 }],
		"semi": "error",
		"comma-dangle": ["error", "never"],
		"comma-spacing": ["warn", { "before": false, "after": true }],
		"no-trailing-spaces": "warn",
		"eol-last": "warn",
		"key-spacing": ["warn", { "afterColon": true }],
		"keyword-spacing": "warn",
		"no-var": "error",
		"no-unused-vars": ["warn", { "vars": "local", "args": "none" }]
	}
}
